* {
	margin:0;
	padding:0;
 }
#cabecalho {
	background-image: linear-gradient(to right, #FFB870, #4B1900);
}
.redimens{
	width:33%;
	margin:6px;
	padding:6px;
}
.direita{

	float:right;
	margin-right:4px;
	margin-left:14px;
	margin-top:8px;
	width:22%;
}
#menu{
	background-image: linear-gradient(to right, #FFB870, #4B1900);
}
#menu a{
	color:#FFD175;
	text-decoration:none;
	display:block;
}
#menu ul li{

	width:auto;
	height:auto;

	font-family:"Arial";
	font-size:18px;
	
	list-style:none;
	display: inline-block; /*Direção do menu (Horizontal) */
	
	padding: 6px 8%;	/*Botão*/
	text-decoration:none;	/*não-sublinhado*/
	
	border:4px solid #4B1900;
	margin-top:0px;
	margin-left:4px;
	
	background-color:#7A3D00;
	
}
#menu li:hover{
	background-color:#452200;
	color:#4B1900;
}
#menu ul li a:hover{

	color:#f38b24;
	font-family:"Corbel";
	font-weight:bold;
	font-size:20px;
	
}

#corpo{

	font-family:"Gill Sans MT";
	font-size:20px;
	top:30px;
	margin-top:0px;
	width:100%;
	height:59.5%;
	background-image: linear-gradient(to right, #FF7519, transparent, #FF7519);
	text-align:center;
	text-shadow: #767676 0.05em 0.05em 0.1em;
}
strong{
	font-family:Juice ITC;
	font-size:22px;
}
p{
	padding: 15px;
	margin-left:10px;
	margin-right:10px;
}
em{
	font-weight:bold;
}

#rodape{
	text-align:center;
	font-family:"Corbel";
	font-size:15px;
	position: absolute;
	bottom: 0;
	background-image: linear-gradient(to right, #4B1900, #FFB870, #4B1900);
	width:100%;
	height:10%;
	
}
